
#file-explorer {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  width: 30%;
  border:3px ;
}

.file {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.file:hover {
  background-color: #f5f5f5;
}

.file .icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.file .name {
  flex-grow: 1;
}

.file .size,
.file .created,
.file .modified {
  margin-left: 10px;
}


.textarea-wrapper {
  position: relative;
}

.line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #999;
  list-style-type: none;
  text-align: right;
}

#text-area {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 40px;
  font-size: 14px;
  line-height: 1.5;
}
